@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
         url("../fonts/OpenSans-Regular.woff") format("woff"),
         url("../fonts/OpenSans-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
         url("../fonts/OpenSans-Bold.woff") format("woff"),
         url("../fonts/OpenSans-Bold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body,
  a,
  ul {
    font-family: OpenSans, Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    color: #000;
  }
  
  .header {
    padding-top: 30px;
    position: relative;
    background-image: url("../images/banner-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #263740;
  }
  
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
  }

  .header-content {
    position: relative;
    z-index: 1;
  }

  .top-menu {
    display: none;
  }

  .menu-icon {
    display: block;
    fill: #ffffff;
    margin-left: auto;
    margin-right: 20px;
    width: 25px;
  }

  .header-logo {
   margin: 225px 45px 40px 45px;
  }

  .header-title {
    position: relative;
    font-size: 26px;
    line-height: 36px;
    color: #fff;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    margin: 0 45px;
    padding-bottom: 120px;
  }

  .trend-post {
    min-height: 230px; 
    display: flex;
    align-items: end;
    margin-bottom: 3px;
    position: relative;
    background-image: url(../images/trend1.jpg);
    background-position: 0 center;
    background-size: cover;
    padding: 0 15px 17px 15px;
  }

  .trend-post::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
  }

  .trend-post__second {
    background-image: url(../images/trend2.jpg);
  }

  .trend-post__therd {
    background-image: url(../images/trend3.jpg);
  }

  .trend-post__four {
    background-image: url(../images/trend4.jpg);
  }

  .trends {
    padding-top: 40px;
    margin-bottom: 45px;
  }

  .aside-title {
    position: relative;
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 auto 17px;
    line-height: 0.6;
  }
  
  .aside-title::after {
    position: relative;
    display: block;
    content: "";
    width: 50px;
    border-bottom: 3px solid #b59f5b;
    opacity: 0.4;
    margin: 14px auto 14px auto;
  }

  .trend-content {
    position: relative;
    z-index: 1;
    border: 3px solid #b59f5b;
    padding: 25px;
  }

   .category-link {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
  }
  
  .category-list {
    margin-top: 0;
    line-height: 0.8;
  }

  .category {
    position: relative;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #b59f5b;
  }

  .category:hover {
    text-decoration: underline;
  }

  .trend-title {
    text-transform: uppercase;
    position: relative;
    margin-top: 9px;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
  }

  .trend-title__link {
    color: #ffffff;
  }
  
  .trend-title__link:hover {
    color: #b59f5b;
  }

  .main-content {
    padding: 0 15px;
  }
  
  .post-item::after {
    position: relative;
    display: block;
    content: "";
    width: 100%;
    border-bottom: 3px solid #eeeeee;
    opacity: 0.4;
    margin: 14px 0;
  }

  .post-image {
    width: 100%;
  }
  
  .post-title {
    text-transform: uppercase;
    position: relative;
    margin-top: 9px;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .post-title__link:hover {
    color: #b59f5b;
  }
  
  .date-author {
    display: flex;
    margin-top: 15px;
  }
  
  .date {
    position: relative;
    font-family: inherit;
    font-weight: normal;
    font-size: 12px;
    color: #888888;
    padding-right: 12px;
    margin-bottom: 15px;
  }
  
  .author {
    position: relative;
    font-family: inherit;
    font-weight: bold;
    font-size: 12px;
  }
  
  .preview {
    font-family: inherit;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.47;
    margin-bottom: 10px;
  }

  .news-content {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 22px;
  }
  
  .news-img {
    position: relative;
    margin-right: 17px;
    max-width: 75px;
    min-width: 70px;
  }
  
  .news-text {
    display: flex;
    flex-direction: column;
  }
  
  .date-news {
    position: relative;
    font-family: inherit;
    font-weight: normal;
    font-size: 12px;
    color: #888888;
    line-height: 0.9;
    margin-bottom: 2px;
  }
  
  .aside-news-title {
    line-height: 1.1;
  }
  
  .news-title__link {
    position: relative;
    font-family: inherit;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .news-title__link:hover {
    color: #b59f5b;
  }
  
  .search-form {
    display: flex;
    position: relative;
    margin-top: 36px;
  }
  
  .search {
    flex: 1;
    display: flex;
  }
  
  .visually-hidden {
    position: fixed;
    transform: scale(0);
  }
  
  .field {
    flex: 1;
    outline: none;
    border: none;
    background-color: #f4f7f6;
    font-family: inherit;
    font-size: 13px;
    height: 48px;
    padding-left: 15px;
  }
  
  .field:focus {
    box-shadow: 1px 1px 0 #b59f5b inset, 0 -1px 0 #b59f5b inset;
  }
  
  .button {
    position: relative;
  
    width: 48px;
    height: 48px;
  
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
  
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #000;
  }
  
  
  .mail {
    margin-top: 64px;
  }
  
  .email-field {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    background-color: #f4f7f6;
    font-family: inherit;
    font-size: 13px;
    height: 48px;
    padding-left: 15px;
  }
  
  .email-field:focus {
    box-shadow: 1px 1px 0 #b59f5b inset, -1px -1px 0 #b59f5b inset;
  }
  
  .button-mail {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  
    font-family: inherit;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  
    margin-top: 18px;
    color: #fff;
    background-color: #b59f5b;
  
    border: none;
    cursor: pointer;
  }
  
  .button-mail:hover {
    background-color: #000;
  }

  .tags-section {
    margin-top: 63px;
  }
  
  .tags-list {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
  }
  
  .tag {
    border: 3px solid #eeeeee;
  }
  
  .tag:hover {
    border: 3px solid #b59f5b;
  }
  
  .tag-link {
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px 13px;
  }

  .themes {
    margin-top: 63px;
  }
  
  .theme-item {
    border-bottom: 1px solid #eeeeee;
  }
  
  .theme-link {
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    line-height: 3.25;
    padding-right: 2px;
  }
  
  .sup {
    vertical-align: super;
    font-family: inherit;
    font-weight: bold;
    font-size: 12px;
    color: #b59f5b;
  }
  
  .theme-link:hover {
    color: #b59f5b;
  }

  .shop {
    margin-top: 63px;
  }

  .product-img {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
  }

  .shop-desc {
    border: 3px solid #b59f5b;
    padding: 0 15px;
  }

  .shop-link {
    color: #b59f5b;
  }

  @media (min-width: 1200px) {
  
  .header {
    padding-top: 26px;
    background-image: url("../images/banner-bg.jpg");
  }

  .header-content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding: 0 15px 0 15px;
  }
  
  .menu-icon {
    display: none;
  }

  .top-menu {
    display: block;
  }

  .logo-nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .header-logo {
    position: relative;
    width: 180px;
    margin: 0 0 0 19px;
  }
  
  .header-title {
    position: relative;
    max-width: 700px;
    font-size: 45px;
    line-height: 75px;
    margin: 100px auto 0;
    padding-bottom: 126px;
  }
  
  .nav {
    margin: auto 20px auto 0;
  }
  
  .top-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-right: -4px;
    margin-top: 2px;
  }
  
  .menu-link {
    font-family: inherit;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
  
    color: #ffffff;
  }
  
  .menu-item:nth-child(n + 2) {
    padding-left: 35px;
  }
  
  .menu-link:hover {
    text-decoration: underline;
  }
  
  .main-content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 65px auto 0 auto;
  }
  
  .post {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .post-item {
    position: relative;
    display: flex;
    align-items: flex-start;
  }
  
  .post-item:not(:last-child) {
    margin-bottom: 60px;
  }

  .post-item::after {
    display: none;
  }
  
  .post-image {
    position: relative;
    margin-right: 30px;
    min-width: 380px;
  }
  
  .item-content {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .post-title {
    margin-top: 9px;
    max-width: 370px;
    font-size: 20px;
  }
  
  .date-author {
    margin-top: 28px;
  }
  
  .date {
    padding-right: 12px;
    margin-bottom: 46px;
  }
  
   .preview {
    font-size: 15px;
    margin-bottom: 10px;
    max-width: 370px;
  }
  
  .aside {
    box-sizing: border-box;
    display: flex;
    position: relative;
    max-width: 300px;
    flex-direction: column;
    padding-left: 30px;
  }
  
  .news {
    display: flex;
    position: relative;
    flex-direction: column;
  }
  
  .aside-title {
    font-size: 14px;
  }
  
  .aside-title::after {
    width: 66px;
  }
  
  .mail {
    display: flex;
    flex-direction: column;
  }
  
  .mail-field {
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    box-sizing: border-box;
    padding: 0 15px 0 15px;
  
    margin-top: 65px;
    margin-bottom: 71px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer-content {
    background-color: #f4f7f6;
  }
  
  .social {
    padding: 32px 0 31px 0;
    display: flex;
    justify-content: center;
    gap: 27px;
  }
  
  .social-link {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
  }
  
  .social-link__dribble {
    background-image: url("../svg/001-dribbble.svg");
    background-repeat: no-repeat;
  }
  
  .social-link__pinterest {
    background-image: url("../svg/002-pinterest.svg");
    background-repeat: no-repeat;
  }
  
  .social-link__tumblr {
    background-image: url("../svg/003-tumblr.svg");
    background-repeat: no-repeat;
  }
  
  .copiryting {
    display: block;
    margin-bottom: 50px;
    text-align: center;
  
    font-family: inherit;
    font-weight: bold;
    font-size: 12px;
    color: #999999;
  }
}